body{
  background-image: url("assets/images/background.png");
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: 0%;
  background-repeat: repeat-x;
  
  background-blend-mode: lighten;
}
  
h1 {
  position: absolute;
  left : 35%;
  top : 50%;
  font-size: 50px;
  font-family: "Titilium",'Courier New', Courier, monospace;

}

h2{
  position: absolute;
  padding: 1%;
  left: 3%;
  font-family: "Titilium",'Courier New', Courier, monospace;
  font-size: 40px;
  width: 100%;
  
}

h3{
  position: absolute;
  padding: 7%;
  font-family: "Titilium",'Courier New', Courier, monospace;
}

@font-face {
  font-family: Titilium;
  src: url(assets/fonts/Titillium-Regular.otf);
}

.rect-enf{

  box-sizing: border-box;

    position: absolute;
    width: 90%;
    height: 370px;
    left: 5%;
    top: 70%;

    background: #FFFFFF;
    border: 1px solid #A4C2F4;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 22px;

}

.rect-data{

  box-sizing: border-box;

  position: absolute;
  width: 90%;
  height: 370px;
  left: 5%;
  top: 120%;

  background: #FFFFFF;
  border: 1px solid #A4C2F4;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 22px;

}

.rect-loca{
  box-sizing: border-box;

  position: absolute;
  width: 90%;
  height: 370px;
  left: 5%;
  top: 170%;

  background: #FFFFFF;
  border: 1px solid #A4C2F4;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 22px;
}

.rect-paye{
  box-sizing: border-box;

  position: absolute;
  width: 90%;
  height: 370px;
  left: 5%;
  top: 220%;

  background: #FFFFFF;
  border: 1px solid #A4C2F4;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 22px;
}

.rect-probleme{

  box-sizing: border-box;

  position: absolute;
  width: 90%;
  height: 370px;
  left: 5%;
  top: 270%;

  background: #FFFFFF;
  border: 1px solid #A4C2F4;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 22px;

}

.rect-satifactionclient{

  box-sizing: border-box;

  position: absolute;
  width: 90%;
  height: 370px;
  left: 5%;
  top: 320%;
  padding-bottom: 10%;

  background: #FFFFFF;
  border: 1px solid #A4C2F4;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 22px;

}

.retour-bottom {
  position :absolute;
  right: 10px;
  top: 320%;
  width:100px;
	height:100px;
	background:#A4C2F4;
	-webkit-border-radius:100px;
	-moz-border-radius:100px;
	-o-border-radius:100px;
	border-radius:100px;
}

.retour-bottom:hover{
  transition-property: inherit;
}

