/*Menu Hoizontal*/

div.rectangle-header{
	position: sticky;
	width: 100%;
	height: 150px;
	left: 0px;
	top: 0px;
	background: #A7CAE7;
	z-index: -1;

}

nav{
	height: 5vh;
	width: 50%;
	min-width: 600px;
	display: flex;
	align-items: top;
	justify-content: space-around;
    margin: auto;
	top: 50px;
	position: absolute;
	padding-left: 850px;
    padding-top: 1%;
}

/*Modification texte des liens*/
.menu a
{
    position: relative;
    text-decoration: none;
    font-family: 'Titilium', sans-serif;
    color: black;
    font-size: 27px;
    letter-spacing: 0.5px;
    
}

.menu a:link
{
color:black
}

.menu a:visited
{
color: black;
}


.menu a:active
{
    color:aliceblue;
    opacity: 0.5;
}

.menu a:after{
    content: "";
    position: absolute;
    background-color: black;
    height: 4px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}

.menu a:hover:after
{
	width: 100px;
}



/* Logo */

img.logo{
	position: absolute ;
	width: 150px;
	height: 150px;
	left: 0%;
	top: 0%;
}


/*Haut de page : "Lunette connectée Bloomtech"*/

h1, em  
{
    position: absolute;
    width: 483px;
    height: 70px;
    left: 40%;
    top: 190px;

    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    font-size: italic;
    font-family: "Titilium", Arial, Helvetica, sans-serif;
}

/* Les polices */

@font-face {
    font-family: "Titilium";
    src: url("Titillium-Regular.otf");
}

@font-face {
    font-family: "Inter";
    src: url("Inter\ Regular\ 400.otf");

}

/* Style des grandes partie : " vidéo, détail, vente , actu"*/

h2
{
    position: absolute;
    font-weight: 10x;
    font-size: 20px;
    line-height: 10px;
    top: 0;
    left: 0;
    display: flex;
	width: 50%;
    margin: 30px;
	min-width: 60px;
    font-family: "Titilium", Arial, Helvetica, sans-serif;
}

/*Partie Vidéo Présentation*/

#rectangle-vidéo
{

    position: absolute;
	width: 500px;
	height: 210px;
	left: 100px;
	top: 350px;
	background: beige;
	z-index: -1;
    padding: 50px;
    border-radius: 20px / 10px;

}

.vidéo                                      /*texte principale */
{
    position: absolute;
    font-weight: 10x;
    font-size: 20px;
    line-height: 10px;
    top: 0;
    left: 0;
    display: flex;
	width: 50%;
    margin: 30px;
	min-width: 60px;
}

/*Partie Détails Produit*/

#rectangle-détails
{
    position: absolute;
    width: 500px;
    height: 210px;
    left: 100px;
    top: 690px;
    padding: 50px;
    background: beige;
    z-index: -1;
    border-radius: 20px / 10px;

}

/*Partie Point de Vente*/

.rectangle-vente{
    
    position: absolute;
    width: 500px;
    height: 210px;
    left: 1150px;
    top: 350px;
    padding: 50px;
    background-color: beige;
    border-radius: 20px / 10px;
    z-index: -1;
}

.dropdown{                      /*boutton curseur Revendeur*/
    position: absolute;
    top: 20px;
    left: 50px;
    max-width: 300px;
    height: 63px;
    border-radius: 5px;
    margin: 100px auto;
    z-index: 1;
    color: black;
    background: white;

    transition: height 0.4s ease-in-out;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0 100%);

}

.bloc-top{                  /*Partie visible du bouton mise en forme*/
    padding: 20px;
    display: block;
    width: 100%;
    border: none;
    outline: none;
    font-size: 20px;
    font-family: 'Inter';
    font-weight: 200;
    line-height: 24px;
    font-style: normal;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    color: black;
    cursor: pointer;
}

.bloc-top img {                /*image boutton*/
    width: 30px;
}

.bloc-links {                   /*les liens des opticiens*/
   padding: 0 22px; 
}

.bloc-links li {
    padding: 5px 0;
}

.bloc-links li a {
    text-decoration: none;
    font-size: 18px;
    color: black;
    margin-left: 5px;
}

.bloc-links li:last-child{
    padding-bottom: 55px;
} 


.sto {
    position: absolute;
    bottom: 0;
    left: 0;
    ;
}

#rectangle-actu{

    position: absolute;
    width: 500px;
    height: 220px;
    left: 1150px;
    top: 690px;
    padding: 50px;
    border-radius: 20px / 10px;
    background-color: beige;

}
